[Desktop Entry]
Categories=Office;Presentation;
Comment=Markdown presentation authoring tool
Exec=kova
StartupWMClass=kova
Icon=md.kova.Kova
Name=Kova
Terminal=false
Type=Application
